<?xml version="1.0" encoding="utf-8"?>
<module productName="EpinovaQuickExport" type="Epinova.QuickExport.Module, Epinova.QuickExport" clientResourceRelativePath="1.0.0.0" loadFromBin="false">
  <clientResources>
    <add name="epinova-quickexport-res" path="ClientResources/Scripts/init.js" resourceType="Script" />
    <add name="epinova-quickexport-res" path="ClientResources/Scripts/ExportCommand.js" resourceType="Script" />
    <add name="epinova-quickexport-res" path="ClientResources/Scripts/ImportCommand.js" resourceType="Script" />
  </clientResources>

  <dojo>
    <packages>
      <add name="epinova-quickexport" location="ClientResources/Scripts" />
    </packages>
  </dojo>
    
  <clientModule initializer="epinova-quickexport.init">
    <moduleDependencies>
      <add dependency="CMS" type="RunAfter" />
    </moduleDependencies>
    <requiredResources>
      <add name="epinova-quickexport-res" />
    </requiredResources>
  </clientModule>
</module>